<div id="<%= dom_id prescription %>">
  <p>
    <strong>Vet prescription:</strong>
    <%= prescription.vet_prescription %>
  </p>

  <p>
    <strong>Prescribed by:</strong>
    <%= prescription.prescribed_by %>
  </p>

  <p>
    <strong>Disease:</strong>
    <%= prescription.disease %>
  </p>

  <p>
    <strong>Livestock:</strong>
    <%= prescription.livestock %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= prescription.completed %>
  </p>

</div>
